<div class = "col-xs-10 col-xs-offset-1 about"> 
	<h1> About Splurty </h1> 
	<p>
    	Splurty was built by <a target="_blank" href="http://github.com/IlianaP">Iliana Paleva</a>, a Cornell University student, currently a freshman pursuing an Information Science degree and navigating through the challenges and good times college brings. She is on a mission to inspire, learn and grow every single day. 
  	</p> 
  	<p>
    	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  	</p> 

  	<div class="col-xs-12 col-sm-4">
    <%= image_tag 'IlianaPaleva.jpg', class: 'img-responsive' %>
  	</div>

  	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    	<h2 class="text-center">Iliana Paleva</h2>
    	<br />
    	<p>
     		Iliana Paleva is currently a freshman at Cornell University, pursuing an Information Science degree. She is trying to ace college, while also traveling the world without taking a gap year and learning to code at full speed. Before college, she went through three school systems and teaching methods, at the end of which she graduated from an American online high school while staying at home in Sofia, Bulgaria. 
    	</p>
  	</div>
  	<br class="clear" /> 
  	<br />
	<br />
	<br />
	<br />
</div>